@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header .logo {
    background-color: #FFC107;
    text-align: center;

}

header .menu {
    background-color: #FFA000;
    display: flex;
    /* ativar flexbox */
    justify-content: center;
    /* centralizar na horizontal */
}

header .menu ul {
    margin: 0;
}

header .menu ul li {
    display: inline-block;
    padding: 10px 15px;
    /* padding = espaçamento interno | 10px pra cima e pra baixo, 15px pras laterais */
}

header .menu ul li a {
    text-decoration: none;
    color: #fdfdfd;
}


header .menu ul li {
    display: inline-block;
}

main section.banner {
    height: 600px;
    background-image: url(../imagens/imagem-principal.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main section.banner .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

main section.banner h1 {
    font-size: 55px;
    text-transform: lowercase;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
    padding: 100px;
}

main section.receitas-principais .container {
    min-height: 600px;
    width: 1350px;
    margin: 0 auto;

}

main section.receitas-principais h2 {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    color: #FFA000;
    text-transform: lowercase;
}

.lista-receitas article {
    width: 345px;
    text-align: center;
    margin-bottom: 60px;
}

.lista-receitas .thumb {
    width: 100%;
    height: 280px;
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-receitas article a {
    background-color: green;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 25px;
    text-decoration: none;

}

.lista-receitas {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}


section.banner-secundario {
    background-image: url(../imagens/foto-avo.png);
}

section.banner-secundario .container {
    min-height: 600px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.banner-secundario .container h2 {
    font-size: 62px;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section.banner-secundario .container p {
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
}

footer {
    background-color: #FFA107;
    color: #Fff;
    font-weight: 700;
    font-size: 18px;

}

footer .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10p 0;
}

/* página todas receitas */

main section.todas-receitas .container {
    min-height: 600px;
    width: 1350px;
    margin: 0 auto;

}

main section.todas-receitas h2 {
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    color: #FFA000;
    text-transform: lowercase;